*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: rgb(252, 158, 36);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
}
.game{
    width: 466px;
    display: flex;
    padding: 40px 0px;
    flex-wrap: wrap;
    gap: 8px;
}
.box{
    font-size: 80px;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    border: none;
    background-color: rgb(137, 134, 134);
}
.resetBtn{
    padding: 15px;
    border: none;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    background-color:rgb(168, 36, 36);
    
}

.winnerMessage{
    color: rgb(4, 158, 4);
    font-size: 50px;
    padding:40px 0px;

}
.hide{
    display: none;
}
.redColor{
    color: brown;
}
.greenColor{
    color: green;
}
.newGame{
    margin-left: 266px;
    margin-bottom: 50px;
    padding:25px;
    background-color: green;
    color: white;
    border-radius: 20px;
    font-weight: 600;
    border: none;
    
}
.msg-container{
    height: 300px;
    
}
